<h1 class="text-center title-article"><span class="pink-color">Ko</span>nichi<span class="pink-color">No</span>tes</h1>
<div class="text-center mt-4">
    <a href="" class="text-decoration-none">
        <i class="fa-brands fa-facebook purple-color" ></i>
    </a>
    <a href="" class="text-decoration-none ms-2">
        <i class="fa-brands fa-github pink-color"></i>
    </a>
    <a href="" class="text-decoration-none ms-2">
        <i class="fa-brands fa-instagram purple-color"></i>
    </a>
</div>

<div class="row mt-5">
    
    <!-- Main Content -->
    <div class="col-md-9">

        <div class="row">

            <!-- blog content -->
            <div class="col-md-4 mb-2 mt-4">
                <div class="card">
                    <img src="https://picsum.photos/400/300" alt="">
                    <div class="card-body">
                        <a class="category text-decoration-none">Technology</a>
                        <a href="" class="text-decoration-none title-article"><h5 class="card-title mt-2 fw-bold">Javascript is a Beast</h5></a>
                        <p class="card-text date">29 Sep 2023</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-2 mt-4">
                <div class="card">
                    <img src="https://picsum.photos/400/300" alt="">
                    <div class="card-body">
                        <a class="category text-decoration-none">Technology</a>
                        <a href="" class="text-decoration-none title-article"><h5 class="card-title fw-bold mt-2">Javascript is a Beast</h5></a>
                        <p class="card-text date">29 Sep 2023</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-2 mt-4">
                <div class="card">
                    <img src="https://picsum.photos/400/300" alt="">
                    <div class="card-body">
                        <a class="category text-decoration-none">Technology</a>
                        <a href="" class="text-decoration-none title-article"><h5 class="card-title fw-bold mt-2">Javascript is a Beast</h5></a>
                        <p class="card-text date">29 Sep 2023</p>
                    </div>
                </div>
            </div>


        </div>


    </div>

    <!-- Side Content -->
    <div class="col-md-3 ps-5">

        <h4 class="title-article">Recent P<span class="pink-color">O</span>st</h4>
        <ul class="list-unstyled text-center">
            <li>
                <div class="related-post mt-4">
                    <img src="https://picsum.photos/400/300" class="side-img" alt="">
                    <div class="side-item">
                        <a href="" class="text-decoration-none title-article"><p>Nothing can replace Javascript</p></a>
                    </div>
                </div>
            </li>
            <li>
                <div class="related-post pt-5">
                    <img src="https://picsum.photos/400/300" class="side-img" alt="">
                    <div class="side-item">
                        <a href="" class="text-decoration-none title-article "><p>Nothing can replace Javascript</p></a>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <!-- end content -->
</div>